.home-container {
    display: flex;
    flex-direction: column;
  }
  
  .admin-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
  }
  
  
  @media (max-width: 768px) {
    .admin-container {
      flex-direction: column;
    }
  }
  